@use 'variaveis';

.hero {
    padding: 3vh 5.6vw 5.6vw 5.6vw;    
    min-height: 80vh;
    background-image: url(/src/images/hero_desktop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;

    &__content {
        max-width: 140px;
        text-align: center;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0.80);

        &__branding {
            max-width: 85px;
            margin-bottom: 4px;
            
            img {
                display: block;
                width: 100%;
            }
        }

        .title--small {
            margin-bottom: 12px;
            font-size: 8px;
            line-height: 12px;
        }

        p {
            margin-bottom: 1px;
            font-size: 6px;
            line-height: 10px;

            &:last-child {
                margin-top: 20px;
                white-space: nowrap;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            gap: 32px;
            margin-top: 4px;
            margin-bottom: 4px;

            &__combo {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
            //   background-color: red;

              img {
                max-height: 40px;
                margin-bottom: 8px;
              }

              button {
                display : block;
                width: 130%;
                height: 25px;
                margin-bottom: 8px;
                font-size: 8px;
                color: variaveis.$corTextoSecundario;
                background-color: #6421ff;
                border-radius: 4px;
                margin-top: 2vw;
                // margin-bottom: 8px;
              }
              
              .text {
                margin-top: 0;
              }
            }
        }

        .text {
            font-size: 7px;
            margin-top: 1px;
            line-height: 10px;
            display: block;
        }
    }
}
