@use 'hero';
@use 'variaveis';

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($font-size:28px) {
    @include text($font-size);  
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);    
}

.text {
    @include text(16px);    
}

.text--small {
    @include text;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(8px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}